<!DOCTYPE html>
<html ng-app="HideApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <style>
            .animated{
                opacity: 1;
                max-height: auto;
                overflow: hidden;
                transition: all 1.5s;
            }
            .animated.ng-hide{
                opacity: 0;
                max-height: 0px !important;
                display: block !important;
            }
        </style>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="HideController">
        <div ng-show="loading" class="animated">Cargando...</div>
        <div ng-show="!loading && posts.length <= 0">No se encontraron resultados</div>
        <ul ng-show="posts.length > 0" class="animated">
            <li ng-repeat="post in posts">
                <h2>{{post.title}}</h2>
                <p>
                    {{post.body}}
                </p>
            </li>
        </ul>
    </body>
</html>
