<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="FirstController">
        <input type="text" ng-model="newPost.title" name="name" value="" placeholder="Titulo"/><br />
        <textarea ng-model="newPost.body" name="name" value="" placeholder="Cuerpo"></textarea><br/>
        <button type="button" ng-click="addPost()" name="button">POST</button><br />
        <ul>
            <li ng-repeat="post in posts">
                <h2>{{post.title}}</h2>
                <p>
                    {{post.body}}
                </p>
            </li>
        </ul>
    </body>
</html>
