<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <style>
            .hover{
                background-color: rgb(200,50,50);
            }
            .no-hover{
                background-color: rgb(50,50,200);
            }
        </style>
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    </head>
    <body>
        <button ng-click="bandera = !bandera" ng-class="{'hover': bandera, 'no-hover': !bandera}">
            Hover me
        </button>
        <span ng-show="!bandera">&lt;- click me!</span>
    </body>
</html>
