<input type="text" my-autocomplete="repos" placeholder="Buscar repositorio" />
<button type="button" ng-click="main_repo = null" name="button">LIMPIAR</button>

<ul class="no-list">
    <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name" ng-cloak>
        <a href="#/repo/{{repo.name}}">
            <div class="circular" back-img="{{repo.owner.avatar_url}}" >
            </div>
            <h1 class="inline-block">{{repo.name}}</h1>
        </a>
    </li>
</ul>
