<!DOCTYPE html>
<html ng-app="CustomDirective">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <style>
            .circular{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: inline-block;
            }
        </style>
    </head>
    <body ng-controller="AppCtrl">
        <ul>
            <li ng-repeat="repo in repos" ng-cloak>
                <img class="circular" ng-src="{{repo.owner.avatar_url}}" alt="" />
                <h1>{{repo.name}}</h1>
            </li>
        </ul>
    </body>
</html>
