<!DOCTYPE html>
<html ng-app="ApplyApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="ApplyController">
        <h1>{{nombre}}</h1>
        <h2>{{apellido}}</h2>
    </body>
</html>
