<!DOCTYPE html>
<html ng-app="MyFirstApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="FirstController">
        <input type="text" ng-model="nc.comentario" />
        <input type="text" ng-model="nc.usuario" />
        <button type="button" ng-click="agregarComentario()" name="button"></button>
        <h3>Comentarios</h3>
        <ul>
            <li ng-repeat="comentario in comentarios">
                {{comentario.comentario}} - <strong>{{comentario.usuario}}</strong>
            </li>
        </ul>
        {{"Hola "+ nombre}}
    </body>
</html>
