<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    </head>
    <body>
        {{ "Hola" + " mundo"  }}
    </body>
</html>
