<!DOCTYPE html>
<html ng-app="ChildApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <style></style>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="ParentController">
        {{nombre}}
        <p>
            <strong>Valor del padre:</strong> {{$parent.nombre}}
        </p>
        <div ng-controller="ChildController">
            <p>
                <strong>Valor del hijo:</strong>{{nombre}}
            </p>
        </div>
    </body>
</html>
