<!DOCTYPE html>
<html ng-app="FilterApp">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="FilterController">
        {{miHtml | removeHtml}}
        <br/>
        {{objJSON | json}}
        <br/>
        {{costo | currency}}
    </body>
</html>
