<!DOCTYPE html>
<html ng-app="ToDoList">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="angular-local-storage.min-js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body ng-controller="ToDoController">
        <form ng-submit="addActividad()">
            <input type="text" name="descripcion" ng-model="newActividad.descripcion" value="" placeholder="Descripcion de la actividad">
            <input type="datetime-local" name="date" ng-model="newActividad.fecha" value="">
            <button type="submit">GUARDAR</button>
        </form>
        <button type="button" name="button" ng-click="clean()">LIMPIAR</button>
        <ul>
            <li ng-repeat="actividad in todo">
                {{actividad.descripcion}} - {{actividad.fecha | date: 'short'}}
            </li>
        </ul>
    </body>
</html>
