<!DOCTYPE html>
<html ng-app="CustomDirective">
    <head>
        <meta charset="utf-8">
        <title>Angular - Hola controller</title>
        <link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="autocomplete-jquery-ui.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <style>
            .circular{
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: inline-block;
            }
            .no-list li{
                list-style-type: none;
            }
            body, html{
                text-align: center;
                background-color: #eee;
                margin: 0px;
            }
        </style>
    </head>
    <body ng-controller="AppCtrl">
        <input type="text" my-autocomplete="repos" placeholder="Buscar repositorio" />
        <button type="button" ng-click="main_repo = null" name="button">LIMPIAR</button>
        <ul class="no-list">
            <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name" ng-cloak>
                <div class="circular" back-img="{{repo.owner.avatar_url}}" >
                </div>
                <h1 class="inline-block">{{repo.name}}</h1>
            </li>
        </ul>
    </body>
</html>
